#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);  
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
    margin: auto;
  }
  
  .popup-content h2 {
    margin-top: 0;
  }
  
  .popup-content form input,
  .popup-content form button {
    margin: 10px 0;
  }
  
  .popup-content p a {
    color: blue;
  }
  