<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
    <title>Bookies</title>
</head>
<body>
    
    <h1>BOOKIES</h1>
    <!--navigation bar-->
    
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="signup.html">Sign Up</a></li>
            <li><a href="about.html">About</a></li>
        </ul>

    <!--recently viewed books-->
    <section>
        <h2>Recently Viewed</h2>
        <div>
            <img src="images/book1.jpg" alt="book1">
            <img src="images/book2.jpg" alt="book2">
            <img src="images/book3.jpg" alt="book3">
            <img src="images/book4.jpg" alt="book4">
            <img src="images/book5.jpg" alt="book5">
        </div>
    </section>

    <!--discover section-->
    <section>
        <h2>Discover</h2>
        <div>
            <img src="images/book1.jpg" alt="book1">
            <img src="images/book2.jpg" alt="book2">
            <img src="images/book3.jpg" alt="book3">
            <img src="images/book4.jpg" alt="book4">
            <img src="images/book5.jpg" alt="book5">
            <img src="images/book6.jpg" alt="book6">
            <img src="images/book7.jpg" alt="book7">
            <img src="images/book8.jpg" alt="book8">
            <img src="images/book9.jpg" alt="book9">
            <img src="images/book10.jpg" alt="book10">
            <img src="images/book11.jpg" alt="book11">
            <img src="images/book12.jpg" alt="book12">
            <img src="images/book13.jpg" alt="book13">
            <img src="images/book14.jpg" alt="book14">
            <img src="images/book15.jpg" alt="book15">
            <img src="images/book16.jpg" alt="book16">
            <img src="images/book17.jpg" alt="book17">
            <img src="images/book18.jpg" alt="book18">
            <img src="images/book19.jpg" alt="book19">
            <img src="images/book20.jpg" alt="book20">
        </div>

</body>
</html>